*{
    padding: 0 0;
    margin: 0 0;
}
.body{
    min-height: 100vh;
}
.container{
    position: relative;
    top: 80px;
    bottom: 100px;
    border: 1px solid silver;
    text-align: center;
    margin: 0 auto;
    /* min-height: 100vh; */
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 100px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header{
    margin-top: 25px;
    margin-bottom: 15px;
    color: rgba(24, 59, 212, 0.815);
    font-size: 29px;
    font-family:Tahoma;
    margin-right: 50%;
}
.formContainer{
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    width: 70%;
    
}
.formContainer label{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
}
.formContainer input{
    border-radius: 4px;
    border:  1px solid silver;
    height: 25px;
    padding-left: 15px;
}
.formInput:focus{
    outline: none;
    box-shadow: 0 0 3px 2px rgb(81, 81, 240);

}
.uncomplet{
    outline: none;
    box-shadow: 0 0 3px 2px rgb(250, 2, 2);
}
.uncomplet:focus{
    outline: none;
    box-shadow: 0 0 3px 2px rgb(250, 2, 2);
}
.formContainer span{
    color: rgb(250, 2, 2);
    text-align: left;
}
.checkedBox{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.checkedBox label{
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(44, 54, 204);
}
.checkedBox input{
 /* appearance: none; */
  width: 20px;
  border-radius: 10px;
height: 20px;
}
.formButton{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.formButton button{
    width: 70px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
}
.formButton a{
        text-decoration: none;
        font-size: 18px;
        color: rgb(44, 54, 204);
}
.formButton button:hover{
    cursor: pointer;
    box-shadow:  0 0 4px 2px rgb(44, 54, 204);
}
   
@media screen and (max-width: 380px) {
    .container {
      width: 300px;
    }
    
  }